# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv/
venv/
ENV/
env.bak/
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Pipenv
Pipfile.lock

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
